* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


:root {
   --brand-color-light: #E3646E;
   --brand-color-dark: #BB72E9;
   --stroke-color: #3996DB;
   --bg-color: #0D0E11;
   --text-color-primary: #e2e4e9;
   --text-color-secundary: #C0C4CE;


   --font-family:'Asap';
   --h1: 80px/140%  var(--font-family);
   --h2: 8px/140%  var(--font-family);
   --h3: 14px/140%  var(--font-family);

   --font-family:'Inconsolata';
   --h4: 20px/140% var(--font-family);
}

body   {
   background-color: var(--bg-color);
   color:  var(--text-color-primary);
}

img {
   width: 100%;
   height: 100%;
}

.container {
   position: relative;
   gap: row;

}


.legenda {
   display: block;
   position: absolute;
   top: 250px;
   bottom: 15px;
   text-align: center;
   left: 5%;
   right: 5%;
}

#imagem2 {  
   position: absolute;
   width: auto;
   height: auto;
   top: 30px;
   left: 50%;
   border-radius: 90px;
   justify-items: center;
}

nav {
   display: inline;
   position: absolute;
   object-fit: 1/1;
   left: 25%;
   right: 25%;
   top: 550px;
   bottom: 5px;
  
}