* {
   margin: 20px;
   padding: 10px;
   box-sizing: border-box;
}


:root {
   --brand-color-light: #E3646E;
   --brand-color-dark: #BB72E9;
   --stroke-color: #3996DB;
   --bg-color: #0D0E11;
   --text-color-primary: #e2e4e9;
   --text-color-secundary: #C0C4CE;


   --font-family:'Asap';
   --h1: 80px/140%  var(--font-family);
   --h2: 8px/140%  var(--font-family);
   --h3: 14px/140%  var(--font-family);

   --font-family:'Inconsolata';
   --h4: 20px/140% var(--font-family);
}

body   {
   background-color: var(--bg-color);
   color:  var(--text-color-primary);
}

img {
   width: 100%;
   height: 50%;
}

.container {
   position: relative;

}


.legenda {
   position: absolute;
   top: 250px;
   bottom: 30px;
   text-align: center;
}

#imagem2{
   display: block;
   position: absolute;
   width: 10%;
   left: 45%;
   right: 50%;
    bottom: 10px;
    border-radius: 90px;
}

nav {
   display: block;
   position: absolute;
   width: 1%;
   left: 115px;
   top: 550px;
   bottom: 5px;
   text-align: center;
}